* {
    all: unset;
    font-family: "Fira Code";
}

window {
    color: #abb2bf;
    border-color: #abb2bf;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(19, 19, 19, 0.33);
    border-radius: 0px;
}

.calculator-top {
    border-style: solid;
    border-color: #abb2bf;
    border-width: 0px;
    border-bottom-width: 1px;
    color: #abb2bf;
    padding: 12px;
    margin-bottom: 0px;
}

.calculator-bar {
    background-color: rgba(38, 38, 38, 0.45);
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #ff781f;
    padding-top: 5px;
    padding-bottom: 5px;
}

.calc-label {
    margin: 5px;
    margin-left: 12px;
    margin-right: 12px;
}

.calc-bar {
    margin-right: 12px;
}

.calc-result-box {
    margin: 16px;
    padding: 8px;
    border-style: solid;
    border-radius: 8px;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: #EF4135;
}

.calc-result {
    font-weight: bold;
    font-size: 24px;
}